body{
  
  font-family: helvetica;
}
* {box-sizing: border-box}

html {
  position: relative;
  min-height: 100%;
}

/* style the container */
.containerList {
  position: relative;
  border-radius: 5px;
  margin: 5px;
  padding: 20px 0 30px 0;
}

.containerListImg{
  display: flex;
}

.imagem-mapa{
  margin-left: 5%;
}

.list-group {
  width: 50%;
}

.imagem-espacada{
  margin-right: 10px;
}

.espacamento-horizontal{
  display : flex;
}

.list-subgroup-item{
  margin-right : 50px; 
}

.sensores {
  margin: 20px;
}

.configuracao{
  margin: 20px;
  margin-bottom: 4px;
}

.cardEdit{
  margin: 20px 0;
  width: 50%;
  padding: 1%;
}

input[type='range'] {
  height:7px;
}

input[type='range']::-webkit-slider-thumb {
  height:10px;
  width:10px;
}

.topicoSensor{
  align-items: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.footer-box{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #343a40!important;
  height: 38px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.p-footer{
  color: white;
  margin-bottom: 0;
}

.textList{
  height: 30px;
  padding-top: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-left: 20px;
}

.divLoad{
  display: flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .cardEdit{
    margin: 20px 0;
    width: 10 0%;
    padding: 1%;
  }
}