body{
  
  font-family: helvetica;
}
* {box-sizing: border-box}

/* style the container */
.containerList {
  position: relative;
  border-radius: 5px;
  margin: 5px;
  padding: 20px 0 30px 0;
}

.sensores {
  margin: 20px;
}

.configuracao{
  margin: 20px;
}

.cardEdit{
  margin: 20px 0;
  width: 50%;
  padding: 1%;
}

input[type='range'] {
  height:7px;
}

input[type='range']::-webkit-slider-thumb {
  height:10px;
  width:10px;
}

.topicoSensor{
  align-items: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}




/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}